
.parent-element-to-video {
    overflow: hidden;
}
video {
    height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw; 
    position: absolute;
    z-index: -1;
}

main{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items:center;
    overflow: hidden;
   

}

h1{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    font-family: cursive;
    padding: 5,0;
    margin-bottom: 4vh;
    animation: neonText 1.5s infinite alternate;
    
}

.slideContainer {
    width: 100%;
    height:70vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    animation: pulsate 1.5s infinite alternate;
    border-radius: 40px;
}

.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: 0.5s;
    border-radius: 40px;
}

.button {
    position: absolute;
    width:280px;
    height: 420px;
    transition: 0.5s;
    background-color: rgba(67, 67, 151, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
    width:280px;
    height: 420px;
    background-color: transparent;

}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
    width:280px;
    height: 420px;
    background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
    width:280px;
    height: 420px;
    background-color: transparent;
}


#slider-span1:target ~.image-slider{
    left:20%;
}
#slider-span2:target ~.image-slider{
    left:0%;
}
#slider-span3:target ~.image-slider{
    left:-20%;
}


p{
    -webkit-text-stroke: 1px crimson;
    font-size: 20px;
    font-weight: bolder;
}

@keyframes neonText {
      
    100% {
  
        text-shadow:
        0 0 1px #fff,
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 10px #c71548,
        0 0 15px #c71548,
        0 0 20px #c71548;
    
    }
    
    0% {
  
      text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 5px #c71548,
      0 0 8px #c71548,
      0 0 12px #c71548;
  
  }}

  @keyframes pulsate {
      
    100% {
  
        box-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 7px #fff,
        0 0 15px #c71548,
        0 0 30px #c71548,
        0 0 35px #c71548,
        0 0 44px #c71548,
        0 0 55px #c71548;
    
    }
    
    0% {
  
      box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 5px #c71548,
      0 0 18px #c71548,
      0 0 20px #c71548,
      0 0 25px #c71548,
      0 0 30px #c71548;
  
  }}
  
