main{
    padding-left: 2vh;
    padding-right: 2vh;
    width: 100%;
    height: 240vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}


.NameHolder{
    grid-column: 1/5;
    grid-row: 1;
    margin-top: 5vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.NameHolder H1{
   color: #333;
   -webkit-text-stroke: 1px crimson;
   font-size: xx-large;
   font-weight: 900;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.sideInfo{
    padding-top: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 10vh;
    margin-top: 3vh;
    margin-left: 5vh;
    margin-right: 5vh;

    grid-column: 5/7;
    grid-row: 1/7;
    position: sticky;
    top: 20px;
    z-index: 999;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* align-items: center; */
    text-transform: uppercase;
    font-size: larger;
    border: 2px solid crimson;
}

.sideInfo hr{
    background-color: crimson;
    border: 3px solid black;
    
}

.sideInfo h1{
    text-align: center;
    color: #fff;
    font-family: fantasy;
    text-shadow: rgb(21, 16, 16), #fff;
    font-weight: lighter;
}

.sideInfo .imageHolder img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sideInfo button{
    position: relative;
    align-items: center;
    height: 4.5vh;
    width: 33vh;
    margin: 0 1vh;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.sideInfo button:hover{
    background: linear-gradient(90deg, crimson, #f5ce62, #e43603, #b8043a);
    background-size: 400%;
}


.sideInfo button:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -1vh;
    right: -1vh;
    bottom: -1vh;
    left: -1vh;
    border-radius: 50px;
    filter: blur(1vh);
    opacity: 0;
    transition: opacity 0.2s;
}

.sideInfo button:hover:before{
    opacity: 1;
    z-index: -1;
}

.sideInfo .specs{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #e43603;
    text-shadow: 0 0 3px #233, 0 0 5px crimson;
}

.sideInfo button:hover{
    z-index: 1;
    animation: shine 8s linear infinite;
}

@keyframes shine{
    0%{
        background-position: 0%;
    }
    0%{
        background-position: 400%;
    }
}


.collageDisplay{
    margin-left: 5vh;
    /* margin-right: 5vh;  */

    grid-column: 1/5;
    grid-row: 2/6;
    background-color: black;
    border-radius: 40px;
    box-sizing: border-box;
}


video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 180px;
}

.gameGallery{
    grid-column: 1/5;
    grid-row:6;
    margin-top: 1vh;

    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10vh;
    padding: 1vh;   
    border: 1px solid crimson;
}

.gameGallery .gameImages{
    
    padding: 1px;
    padding-left: 1.7vh;

    height: 80%;
    width: 23.5%;
    border-radius: 50px;
    
}

.gameGallery .gameImages img{
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
    border-radius: 50px;
}


.gameBrief{
    grid-column: 1/5;
    grid-row: 7/15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh;
    margin: 3vh;
    color: silver;
    
}

.gameBrief h1{
    text-align: center;
}

.gameBrief .storyLine{
    padding: 3vh;
    margin-bottom: 5vh;
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    border: 2px solid crimson;
    border-radius: 10vh;
}

.gameBrief .characters{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 25vh;
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 10vh;
    border: 2px solid crimson;
}


.gameBrief .characters .characterHolder{
    height: 90%;
    width: 30%;
}

.gameBrief .characters .characterHolder img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
} 

.gameBrief .characters .descriptionHodler{
    height: 90%;
    width: 65%;
    padding: 3vh;
    text-align: center;
    font-size: 1.3rem;
    color: silver;
}

.gameBrief .characters .descriptionHodler h2{
    padding-bottom: 3vh;
    color: crimson;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navigations{
    grid-column: 5/7;
    grid-row: 14;
    display: flex;
    justify-content: space-between;
    margin-top: 30vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    padding-left: 30%;
    padding-right: 30%;
    z-index: 999;
}

.navigations .arrow{
    height: 10%;
    width: 10%;
    margin: 3vh;
}

.Arrow{
    border: solid crimson;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 5px;
  }

.Arrow:hover{
    cursor: pointer;
    border: double silver;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 5px;
    /* transform: scale(1.5); */
}

  .Right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .Left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .Up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

/* .gameGallery div{
    background-color: antiquewhite;
} */


/* .gameGallery img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
} */